/*header*/
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.header{
    align-items: center;
    background-color: #E5EAFA;
    border-bottom: 1.5px solid black;
    display: flex;
    flex-direction: row;
    height: 7vh;
    padding: 1%;
    width: 100%;
}

.navbar{
    column-gap: 5vw;
    display: flex;
    margin-left: 5vw;
}

.navbar-options{
    align-items: center;
    color: #112A46;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.07em;
    line-height: 28px;
    text-align: center;
}

#separador-header{
    align-items: center;
    border: none;
    border-left: 1px solid #8F929C;
    height: 6vh;
    margin-left: 2vw;
}

/*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
}

.middle-line {
    width: 1px; 
    height: 100vh; 
    border: none; 
    background-color: black; 
    position: absolute; 
    left: 50%; 
}



.frame-99{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    height: 90px;
    width: 280px;
    margin-top: 25vh;
    margin-left: 5vw; 
}

.frame-100,
.frame-101 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 90px;
    width: 280px;
    margin: 2vh 0 2vh 5vw; 
}


.fatura-atualmenu{
    color: #000000;
    font: 400 32px/20px "Roboto", sans-serif;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.limite-dispon-vel,
.Fecha-em-30-Abr {
    color: #000000;
    font: 400 32px/20px "Roboto", sans-serif;
    opacity: 0.6000000238418579;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.r-0-00menu{
    color: #000000;
    font: 400 32px/20px "Roboto", sans-serif;
    opacity: 0.6000000238418579;
    text-align: center; 
    width: 100%;
}

.botao {
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(139, 20, 20);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold; /* Deixa o texto do botão em negrito */
}

.botao1 {
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(139, 20, 20);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 19vh;
}

.botao2 {
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(139, 20, 20);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    font-weight: bold; 
    margin-left: 84px;
}

.resumo-de-faturas,
.resumo-de-faturas * {
  box-sizing: border-box;
}
.resumo-de-faturas {
  color: #e5eafa;
  text-align: center;
  font: 700 24px "Inter", sans-serif;
  width: 273px;
  height: 49px;
  margin-top: 3vh;
}

.background-image-container {
    width: 35vh;
    height: 56vh;
    background-image: url('/Images/resfat.png');
    background-size:auto;
    background-repeat: no-repeat;
    margin-top: 18vh;
    margin-left: 58vh;
    display: flex;
    position: absolute;
    flex-direction: column; 
    align-items: center; 
    justify-content:flex-start; 
}


.line-22,
.line-22 * {
  box-sizing: border-box;
}
.line-22 {
    font-weight: bold;
    font-size: 20px;
  border-style: solid;
  border-color: rgba(90, 0, 14, 0.8);
  border-width: 4px 0 0 0;
  width: 292px;
  height: 0px;
  position: relative;
  text-align: center;
}

.frame-meses,
.frame-meses * {
  box-sizing: border-box;
}
.frame-meses {
    margin-top: 3vh;
  width: 292px;
  height: 72px;
  position: relative;
  align-items: center; 
  justify-content:center
}

/*abr*/

.mes1,
.mes1 * {
  box-sizing: border-box;
}
.mes1{
    margin-top: 2vh;
  width: 292px;
  height: 72px;
  position: relative;
}

.abr {
  color: #e5eafa;
  text-align: center;
  font: 700 16px "Inter", sans-serif;
  position: absolute;
  left: 0px;
  top: 18px;
  width: 36px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fatura-atualabr{
  color: rgba(189, 189, 189, 0.71);
  text-align: center;
  font: 700 16px "Inter", sans-serif;
  position: absolute;
  left: -1px;
  top: 41px;
  width: 109px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.line-26 {
  border-style: solid;
  border-color: rgba(90, 0, 14, 0.8);
  border-width: 4px 0 0 0;
  width: 292px;
  height: 0px;
  position: relative;
  left: -1px;
  top: 89px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.r-0-00abr{
  color: #000000;
  text-align: left;
  font: 700 24px/20px "Roboto", sans-serif;
  opacity: 0.6000000238418579;
  position: absolute;
  left: 205px;
  top: calc(50% - -5px);
  width: 86px;
  height: 19px;
}
/*mar*/

.mes2,
.mes2 * {
  box-sizing: border-box;
}
.mes2{
    margin-top: 2vh;
  width: 292px;
  height: 72px;
  position: relative;
}

.mar{
    color: #e5eafa;
    text-align: center;
    font: 700 16px "Inter", sans-serif;
    position: absolute;
    left: 0px;
    top: 18px;
    width: 36px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fatura-atualmar{
    color: rgba(189, 189, 189, 0.71);
    text-align: center;
    font: 700 16px "Inter", sans-serif;
    position: absolute;
    left: -1px;
    top: 41px;
    width: 109px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.line-27{
    border-style: solid;
    border-color: rgba(90, 0, 14, 0.8);
    border-width: 4px 0 0 0;
    width: 292px;
    height: 0px;
    position: relative;
    left: -1px;
    top: 89px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.r-0-00mar{
    color: #000000;
    text-align: left;
    font: 700 24px/20px "Roboto", sans-serif;
    opacity: 0.6000000238418579;
    position: absolute;
    left: 205px;
    top: calc(50% - -5px);
    width: 86px;
    height: 19px;
}


/*fev*/

.mes3,
.mes3 * {
  box-sizing: border-box;
}
.mes3{
    margin-top: 2vh;
  width: 292px;
  height: 72px;
  position: relative;
}

.fev{
    color: #e5eafa;
    text-align: center;
    font: 700 16px "Inter", sans-serif;
    position: absolute;
    left: 0px;
    top: 18px;
    width: 36px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fatura-atualfev{
    color: rgba(189, 189, 189, 0.71);
    text-align: center;
    font: 700 16px "Inter", sans-serif;
    position: absolute;
    left: -1px;
    top: 41px;
    width: 109px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.line-28 {
    border-style: solid;
    border-color: rgba(90, 0, 14, 0.8);
    border-width: 4px 0 0 0;
    width: 292px;
    height: 0px;
    position: relative;
    left: -1px;
    top: 89px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.r-0-00fev{
    color: #000000;
    text-align: left;
    font: 700 24px/20px "Roboto", sans-serif;
    opacity: 0.6000000238418579;
    position: absolute;
    left: 205px;
    top: calc(50% - -5px);
    width: 86px;
    height: 19px;
}


/*jan*/

.mes4,
.mes4 *{
  box-sizing: border-box;
}
.mes4{
    margin-top: 2vh;
  width: 292px;
  height: 72px;
  position: relative;
}

.jan{
    color: #e5eafa;
    text-align: center;
    font: 700 16px "Inter", sans-serif;
    position: absolute;
    left: 0px;
    top: 18px;
    width: 36px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fatura-atualjan{
    color: rgba(189, 189, 189, 0.71);
    text-align: center;
    font: 700 16px "Inter", sans-serif;
    position: absolute;
    left: -1px;
    top: 41px;
    width: 109px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.line-29 {
    border-style: solid;
    border-color: rgba(90, 0, 14, 0.8);
    border-width: 4px 0 0 0;
    width: 292px;
    height: 0px;
    position: relative;
    left: -1px;
    top: 89px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.r-0-00jan{
    color: #000000;
    text-align: left;
    font: 700 24px/20px "Roboto", sans-serif;
    opacity: 0.6000000238418579;
    position: absolute;
    left: 205px;
    top: calc(50% - -5px);
    width: 86px;
    height: 19px;
}

/*direita*/
.rectangle-36,
.rectangle-36 * {
  box-sizing: border-box;
}
.rectangle-36 {
  background: #d9d9d9;
  width: 650px;
  height: 550px;
  position:absolute;
  right: 0;
  margin-top: 17vh;
  margin-right: 15vh;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content:flex-start; 
}

.vazio{
    color: #525252;
    text-align: left;
    font: 400 30px/20px "Roboto", sans-serif;
    opacity: 0.6000000238418579;
    position: relative;
    width: 250px;
    height: 28px;
    margin-top: 23vh;
    margin-left: 18vh;
    opacity: 50%;
}

.rectangle-37 {
    background: rgb(141, 4, 25);
    width: 650px;
    height: 160px;
    position:absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start; 
  }

.botao4 {
    position: absolute;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(139, 20, 20);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold; 
    width: 200px;
    margin-top: 493px;
}

.botao5 {
    position: absolute;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(139, 20, 20);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    margin-right: 45vh;
    margin-top: 54vh;
}

.botao6 {
    position: absolute;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: rgb(139, 20, 20);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    margin-left: 45vh;
    margin-top: 54vh;
}


.r-0-00dir,
.r-0-00dir * {
  box-sizing: border-box;
}
.r-0-00dir {
  color: #000000;
  text-align: left;
  font: 400 50px/20px "Roboto", sans-serif;
  opacity: 0.6000000238418579;
  position: relative;
  width: 200px;
  height: 28px;
  margin-top: 5vh;
  font-weight:550;
}

.r30abr{
    color: #000000;
    text-align: left;
    font: 400 30px/20px "Roboto", sans-serif;
    opacity: 0.6000000238418579;
    position: relative;
    width: 250px;
    height: 28px;
    margin-top: 1.5vh;
}

.r10mai{
    color: #000000;
    text-align: left;
    font: 400 30px/20px "Roboto", sans-serif;
    opacity: 0.6000000238418579;
    position: relative;
    width: 250px;
    height: 28px;
    margin-top: 0.8vh;

}

/*footer*/

html {
    height: 1359px;
    position: relative;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: 'Montserrat';font-size: 22px;
}

footer {
    background-color: #121212;
    width: 100%;
    height: 333px; 
    position: absolute;
    bottom: 0;
    color: white;
}

#social {
    border-top: 2px solid white;
    height: 79px;
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#icons {
    position: absolute;
    left: 10px;    
}

#icons .btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    color: white;
    background-color: transparent;
    border-color: transparent;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icons .btn i {
    font-size: 24px;
}

#icons .btn:hover {
    background-color: white;
    color: #121212;
    transition: color 0.3s;
}

#downloads {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#downloads .btn i {
    font-size: 40px;
}

@font-face {
    font-family: 'Ferro Rosso';
    src: url('/fonts/FerroRosso.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#creditos{
    position: absolute;
    top: 43px;
    left: 50px;
    width: 90%;
    height: 190px;
}

#crewbank-footer {
    font-family: 'Ferro Rosso', sans-serif;    font-size: 50px;
    position: absolute;
    color: white;
}

#thanksto{
    font-size: 20px;
    position: absolute;
    top: 100px;
}

#creditos-columns {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 300px;
    top: 15px;
    width: 900px;
}

.creditos-column {
    border-left: 100px;
    position: relative;
    width: 200px;
}

.creditos-column h3 {
    color: white;
    font-size: 20px;
}

.creditos-column ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.creditos-column li {
    margin-bottom: 15px;
    color: white;
    font-size: 14px;
}
  