html {
    height: 2440px;
    position: relative;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: 'Montserrat';font-size: 22px;
}

footer {
    background-color: #121212;
    width: 100%;
    height: 333px; /* Adjust this value as needed */
    position: absolute;
    bottom: 0;
    color: white;
}

#social {
    border-top: 2px solid white;
    height: 79px;
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#icons {
    position: absolute;
    left: 10px;    
}

#icons .btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    color: white;
    background-color: transparent;
    border-color: transparent;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icons .btn i {
    font-size: 24px;
}

#icons .btn:hover {
    background-color: white;
    color: #121212;
    transition: color 0.3s;
}

#downloads {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#downloads .btn i {
    font-size: 40px; /* Increase the font size as needed */
}

@font-face {
    font-family: 'Ferro Rosso';
    src: url('fonts/FerroRosso.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#creditos{
    position: absolute;
    top: 43px;
    left: 50px;
    width: 90%;
    height: 190px;
}

#crewbank-footer {
    font-family: 'Ferro Rosso', sans-serif;    font-size: 50px;
    position: absolute;
    color: white;
}

#thanksto{
    font-size: 20px;
    position: absolute;
    top: 100px;
}

#creditos-columns {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 300px;
    top: 15px;
    width: 900px;
}

.creditos-column {
    border-left: 100px;
    position: relative;
    width: 200px;
}

.creditos-column h3 {
    color: white;
    font-size: 20px;
}

.creditos-column ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.creditos-column li {
    margin-bottom: 15px;
    color: white;
    font-size: 14px;
}
  